.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eaf2f3;
    margin-top: 0;
}

.footer>p{
    margin: 10px;
    color: #239E94;
    font-weight: bold;
    font-size: 10px;
}